
:root {

	--calcbg: hsl(223, 31%, 20%);

	--keybg: hsl(30, 25%, 89%);
	--keysh : hsl(28, 16%, 65%);

	--delbg: hsl(225, 21%, 49%);
	--delsh: hsl(224, 28%, 35%);

	--eqbg: hsl(6, 63%, 50%);
	--eqsh: hsl(6, 70%, 34%);

	--calcbg2:hsl(0, 5%, 81%);

	--keybg2: hsl(45, 7%, 89%);
	--keysh2: hsl(35, 11%, 61%);

	--delbg2:hsl(185, 42%, 37%);
	--delsh2:hsl(185, 58%, 25%);

	--eqbg2: hsl(25, 98%, 40%);
	--eqsh2: hsl(25, 99%, 27%);

	--calcbg3:hsl(268, 71%, 12%);

	--delbg3: hsl(281, 89%, 26%);
	--delsh3: hsl(285, 91%, 52%);

	--keybg3: hsl(268, 47%, 21%);
	--keysh3: hsl(290, 70%, 36%);

	--eqbg3: hsl(176, 100%, 44%);
	--eqsh3: hsl(177, 92%, 70%);

}

.calc_container{
	display: grid;
	
	grid-template-rows: 50px 50px 50px 50px;
	grid-template-columns: 80px 80px 80px 80px;

	gap:0.6em;
	
	justify-content: center;
	align-items: center;

	padding: 1.5em;

}

/*default style begins here*/
.calc_container .num{
	padding:0.7em;
	border-radius: 0.5em;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.default_calc{
	background-color: var(--calcbg);
	color: hsl(221, 14%, 31%);
	border-radius: 5px;
}


.calc_container .default{
	background-color: var(--keybg);
	box-shadow: 0px 4px 0px var(--keysh);

}

.calc_container .del_default , .calc_container .res_default{
	color: white;
	background-color: var(--delbg);
	box-shadow: 0px 4px 0px var(--delsh);
}

.calc_container .res_default{
	grid-column: 1/span 2;
}

.calc_container .equ_default{
	grid-column: 3/span 2;
	color: white;
	background-color: var(--eqbg);
	box-shadow: 0px 4px 0px var(--eqsh);

}
/*default style ends here*/

.style_2_calc{
	background-color: var(--calcbg2);
	color:hsl(60, 10%, 19%);
	border-radius: 5px;
}

.calc_container .style_2{
	background-color: var(--keybg2);
	box-shadow: 0px 4px 0px var(--keysh2);

}

.calc_container .del_style_2 , .calc_container .res_style_2{
	color: white;
	background-color: var(--delbg2);
	box-shadow: 0px 4px 0px var(--delsh2);
}

.calc_container .res_style_2{
	grid-column: 1/span 2;
}

.calc_container .equ_style_2{
	grid-column: 3/span 2;
	color: white;
	background-color: var(--eqbg2);
	box-shadow: 0px 4px 0px var(--eqsh2);

}

/**/
.style_3_calc{
	background-color: var(--calcbg3);
	border-radius: 5px;
	color:hsl(52, 100%, 62%);
}

.calc_container .style_3{
	background-color: var(--keybg3);
	box-shadow: 0px 4px 0px var(--keysh3);

}

.calc_container .del_style_3 , .calc_container .res_style_3{
	color: white;
	background-color: var(--delbg3);
	box-shadow: 0px 4px 0px var(--delsh3);
}

.calc_container .res_style_3{
	grid-column: 1/span 2;
}

.calc_container .equ_style_3{
	grid-column: 3/span 2;
	color: white;
	background-color: var(--eqbg3);
	box-shadow: 0px 4px 0px var(--eqsh3);

}