.display{
	color:white;
	text-align: right;
	
	font-weight: bold;
	font-size: 1.5em;

	padding:1.5em ;
	margin-bottom: 0.6em;

	border-radius: 5px;
}

.default_display{
	background-color: hsl(224, 36%, 15%);
}

.style_2_display{
	background-color: hsl(0, 0%, 90%);
	color:black;
}