
.slider_container{
	display:flex;

}

.slider_container .num{
	font-size: 0.6em;
	letter-spacing: 0.4em;
	text-align: center;
	font-weight: bold;
}
.slider_container div:first-child{
	margin-right: auto;
}

.slider_container .slider{
	
	background-color: hsl(223, 31%, 20%);

	margin-left: auto;
	width: 3em;
	height: 1em;
	padding:2px;

	border-radius: 50px;

	position:relative;
	margin-bottom: 1em;

}

.slider_container .default::after{
	content: "";
	position: absolute;
	
	left:3px;
	bottom: 1px;
	top:3px;
	
	width: 0.8em;
	height: 0.8em;
	
	background-color: hsl(6, 63%, 50%);
	border-radius: 50%;

	transition: transform 350ms;
}

div[id="2"]::after{
	transform: translateX(1em);
}
div[id="3"]::after{
	transform: translateX(2em);
}
